In [1]:
import pandas as pd
import numpy as np

In [2]:
opportunities_10_19 = pd.read_pickle('../Data/2022-10-19.pkl')

In [3]:
opportunities_10_24 = pd.read_pickle('../Data/2022-10-24.pkl')

In [4]:
opportunities_11_03 = pd.read_pickle('../Data/2022-11-03.pkl')

In [5]:
opportunities_11_17 = pd.read_pickle('../Data/2022-11-17.pkl')

In [6]:
opportunities_12_08 = pd.read_pickle('../Data/2022-12-08.pkl')

In [7]:
type(opportunities_10_19)

pandas.core.frame.DataFrame

In [8]:
frames = [opportunities_10_19, opportunities_10_24,opportunities_11_03,opportunities_11_17,opportunities_12_08]

In [9]:
result = pd.concat(frames)

In [10]:
result['Description'].dropna().head(1).values

array(['This project is one of a number that are in competition for funding from the. South West Biosciences Doctoral Training Partnership (SWBio DTP). Read more'],
      dtype=object)

In [11]:
result.describe()

,Title,Deadline,SearchDate,DisciplineIds,DisciplineNames,SubjectIds,SubjectNames,LocationCountryName,LocationCityName,ProgrammeTypes,IId,InstitutionName,DId,DepartmentName,FundingTypes,Description,URL
count,23622,7114,23622,23622,23622,23622,23622,23622,23622,23622,23622,23622,23622,23622,23622,18316,18316
unique,7485,126,4,1142,1142,5502,5252,36,215,64,376,376,1132,844,5,6971,7745
top,BBSRC EASTBIO Doctoral Training Partnership - ...,Funded PhD Programme (Students Worldwide),2022-11-17,4,Biological Sciences,,Other,United Kingdom,London,PhD Research Project,348,University of Sheffield,,,"(EU, NE, SF, UK)","Talented and motivated students, passionate ab...",https://www.findaphd.com/phds/project/swbio-dt...
freq,44,907,6771,3334,3334,782,891,21452,2114,20577,1897,1897,1791,1791,11173,72,3

In [12]:
result_clean = result.drop_duplicates('URL')

In [13]:
result_clean.describe()

,Title,Deadline,SearchDate,DisciplineIds,DisciplineNames,SubjectIds,SubjectNames,LocationCountryName,LocationCityName,ProgrammeTypes,IId,InstitutionName,DId,DepartmentName,FundingTypes,Description,URL
count,7746,1906,7746,7746,7746,7746,7746,7746,7746,7746,7746,7746,7746,7746,7746,7745,7745
unique,7392,107,4,1129,1129,5400,5155,36,214,64,374,374,1119,834,5,6905,7745
top,Trials and Methodology Research Partnership (T...,5 December 2022,2022-10-24,4,Biological Sciences,,Other,United Kingdom,London,PhD Research Project,332,The University of Manchester,,,"(EU, NE, SF, UK)","Talented and motivated students, passionate ab...",https://www.findaphd.com/phds/project/swbio-dt...
freq,12,182,5516,1147,1147,278,296,7097,674,6840,531,531,546,546,4082,36,1

In [ ]:
FindPhD_description = result_clean[["URL","Description"]]

In [ ]:
FindPhD_description.head(120)

In [ ]:
FindPhD_description.to_csv('../Data/FindaPhD_description.csv')

In [ ]:
list(FindPhD_description.columns)

In [ ]:
FindPhD_description  = FindPhD_description .rename(columns={: 'Col_1'}, index={'ONE': 'Row_1'})