In [1]:
import pandas as pd
# importing regex and nltk
import re, nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
# importing Counter to get word counts for bag of words
from collections import Counter
import nltk
#from part_of_speech import get_part_of_speech

In [ ]:
#pip install part_of_speech

In [2]:
from part_of_speech import get_part_of_speech

ModuleNotFoundError: No module named 'part_of_speech'

In [3]:
df = pd.read_csv('../Data/Scraped_US_ScholrshipDB_uniname_version.csv')

In [4]:
df

,Unnamed: 0,university_name,FullText,Agency,Location,Job Category,Salary,Start Date,Last Date to Apply,Website,Description,Qualifications,Contact Person,Contact eMail,Contact Phone
0,https://scholarshipdb.net/scholarships-in-Unit...,Oregon State University,\nTwo PhD Candidate positions are available to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://scholarshipdb.net/scholarships-in-Unit...,"University of Wyoming, Wyoming Geographic Info...",\nAbout the Position:I am seeking one/two PhD ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://scholarshipdb.net/scholarships-in-Unit...,Cornell University,\nClick for a hub of Extension resources relat...,Cornell University,"Ithaca, New York",Graduate Assistantships,~42k year + tuition remission and health insur...,05/21/2023,01/31/2023,http://www.stevegrodsky.com/opportunities,Highlights: \n•\tCreative and innovative resea...,Qualifications:\n\n- Master's degree in wildli...,Dr. Steve Grodsky,grodsky@cornell.edu,NaN
3,https://scholarshipdb.net/scholarships-in-Unit...,Mississippi State University,\nClick for a hub of Extension resources relat...,Mississippi State University,"Starkville, MS, USA",Graduate Assistantships,"$23,500 + health insurance",05/01/2023,02/10/2023,https://rayiglay.wixsite.com/iglaylab/post/phd...,A dynamic research group among Mississippi Sta...,Minimum qualifications include an M.S. degree ...,Raymond Iglay,ray.iglay@msstate.edu,6623255933
4,https://scholarshipdb.net/scholarships-in-Unit...,CeMM,\nDo you want to work in an environment that p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,https://scholarshipdb.net/jobs-in-United-State...,South Dakota State University,\nPosting Details Posting Details\n\nLogo\n \n...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9995,https://scholarshipdb.net/jobs-in-United-State...,South Dakota State University,\nPosting Details Posting Details\n\nLogo\n \n...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,https://scholarshipdb.net/jobs-in-United-State...,Oregon State University,\nPosition Details Position Information\n\nDep...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,https://scholarshipdb.net/jobs-in-United-State...,University of Pennsylvania,\nUniversity Overview The University of Pennsy...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,https://scholarshipdb.net/jobs-in-United-State...,Medical College of Wisconsin,\n\n\n Position Description:The Departm...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
def remove_whitespace(text):
    return re.sub('\W+', ' ', text).lower()

def remove_newline(text):
    return re.sub('\n','',text)

df['FullText'].apply(remove_whitespace)
df['clean_text'] = df['FullText'].apply(remove_whitespace)
df['clean_text'] = df['FullText'].apply(remove_newline)

In [6]:
df

,Unnamed: 0,university_name,FullText,Agency,Location,Job Category,Salary,Start Date,Last Date to Apply,Website,Description,Qualifications,Contact Person,Contact eMail,Contact Phone,clean_text
0,https://scholarshipdb.net/scholarships-in-Unit...,Oregon State University,\nTwo PhD Candidate positions are available to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Two PhD Candidate positions are available to s...
1,https://scholarshipdb.net/scholarships-in-Unit...,"University of Wyoming, Wyoming Geographic Info...",\nAbout the Position:I am seeking one/two PhD ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,About the Position:I am seeking one/two PhD Gr...
2,https://scholarshipdb.net/scholarships-in-Unit...,Cornell University,\nClick for a hub of Extension resources relat...,Cornell University,"Ithaca, New York",Graduate Assistantships,~42k year + tuition remission and health insur...,05/21/2023,01/31/2023,http://www.stevegrodsky.com/opportunities,Highlights: \n•\tCreative and innovative resea...,Qualifications:\n\n- Master's degree in wildli...,Dr. Steve Grodsky,grodsky@cornell.edu,NaN,Click for a hub of Extension resources related...
3,https://scholarshipdb.net/scholarships-in-Unit...,Mississippi State University,\nClick for a hub of Extension resources relat...,Mississippi State University,"Starkville, MS, USA",Graduate Assistantships,"$23,500 + health insurance",05/01/2023,02/10/2023,https://rayiglay.wixsite.com/iglaylab/post/phd...,A dynamic research group among Mississippi Sta...,Minimum qualifications include an M.S. degree ...,Raymond Iglay,ray.iglay@msstate.edu,6623255933,Click for a hub of Extension resources related...
4,https://scholarshipdb.net/scholarships-in-Unit...,CeMM,\nDo you want to work in an environment that p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Do you want to work in an environment that pro...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,https://scholarshipdb.net/jobs-in-United-State...,South Dakota State University,\nPosting Details Posting Details\n\nLogo\n \n...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Posting Details Posting DetailsLogo Institutio...
9995,https://scholarshipdb.net/jobs-in-United-State...,South Dakota State University,\nPosting Details Posting Details\n\nLogo\n \n...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Posting Details Posting DetailsLogo Institutio...
9996,https://scholarshipdb.net/jobs-in-United-State...,Oregon State University,\nPosition Details Position Information\n\nDep...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Position Details Position InformationDepartmen...
9997,https://scholarshipdb.net/jobs-in-United-State...,University of Pennsylvania,\nUniversity Overview The University of Pennsy...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,University Overview The University of Pennsylv...
9998,https://scholarshipdb.net/jobs-in-United-State...,Medical College of Wisconsin,\n\n\n Position Description:The Departm...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Position Description:The Department of...

In [7]:
df = df[['Unnamed: 0','university_name','clean_text']].rename(columns={'Unnamed: 0': 'URL'})

In [8]:
df

,URL,university_name,clean_text
0,https://scholarshipdb.net/scholarships-in-Unit...,Oregon State University,Two PhD Candidate positions are available to s...
1,https://scholarshipdb.net/scholarships-in-Unit...,"University of Wyoming, Wyoming Geographic Info...",About the Position:I am seeking one/two PhD Gr...
2,https://scholarshipdb.net/scholarships-in-Unit...,Cornell University,Click for a hub of Extension resources related...
3,https://scholarshipdb.net/scholarships-in-Unit...,Mississippi State University,Click for a hub of Extension resources related...
4,https://scholarshipdb.net/scholarships-in-Unit...,CeMM,Do you want to work in an environment that pro...
...,...,...,...
9994,https://scholarshipdb.net/jobs-in-United-State...,South Dakota State University,Posting Details Posting DetailsLogo Institutio...
9995,https://scholarshipdb.net/jobs-in-United-State...,South Dakota State University,Posting Details Posting DetailsLogo Institutio...
9996,https://scholarshipdb.net/jobs-in-United-State...,Oregon State University,Position Details Position InformationDepartmen...
9997,https://scholarshipdb.net/jobs-in-United-State...,University of Pennsylvania,University Overview The University of Pennsylv...
9998,https://scholarshipdb.net/jobs-in-United-State...,Medical College of Wisconsin,Position Description:The Department of...

In [9]:
df.to_csv('../Data/ScholarshipDB_uniname_description_ForKnime.csv', index=False, header=True)

In [ ]:
df['clean_text_token'] = df['clean_text'].apply(word_tokenize)

In [ ]:
def filtering(text, stop_words):
    filtered = []
    for word in text:
        if word not in stop_words:
            filtered.append(word)
    return filtered

stop_words = stopwords.words('english')

df['filtered_text'] = df['clean_text_token'].apply(filtering, args=(stop_words,))

In [ ]:
df['lemmatized_string'] = df['lemmatized_text'].apply(lambda x: ' '.join(x))

In [ ]:
(
    df[['Unnamed: 0','clean_text']]
    .rename(columns={'Unnamed: 0': 'URL'})
    .to_csv('../Data/KNime_USA_cleanednewline.csv', index=False, header=True)
)

In [ ]:
nltk.download('omw-1.4')

In [ ]:
def lemmatizing(text):
    lammetized = []
    normalizer = WordNetLemmatizer()
    for word in text:
        word = normalizer.lemmatize(word)
        lammetized.append(word)
    return lammetized

df['lemmatized_text'] = df['filtered_text'].apply(lemmatizing)

In [ ]:
df[['FullText', 'clean_text', 'clean_text_token', 'filtered_text', 'lemmatized_text']].head(1).T

In [ ]:
normalizer = WordNetLemmatizer()

In [ ]:
normalized = [normalizer.lemmatize(token, get_part_of_speech(token)) for token in filtered]

In [ ]:
bag_of_looking_glass_words = Counter(normalizer)